<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "blog", media: "all" %>
  <%= javascript_include_tag "blog" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Andrew's Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      Copyright &copy; 2004&ndash;<%= Date.today.year %> Andrew Klein.
  </footer>
  </div>
</body>
</html>
